version: '3.8'

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: usuario
      POSTGRES_PASSWORD: ariana
      POSTGRES_DB: universidad
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U usuario -d universidad"]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

  web:
    build: .
    ports:
      - "5000:5000"
    environment:
      DB_HOST: db
    volumes:
      - .:/app
    depends_on:
      db:
        condition: service_healthy